
<form class="needs-validation" novalidate id="form" action="/signup" method="POST">
  <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">User</label><br>
        <input type="text" name="username" class="form-control" id="validationCustom01" placeholder="Your username" required>
          <div class="valid-feedback">
            Looks good!
          </div>
      </div>
  </div>
  <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">First name</label><br>
        <input type="text" name="firstName" class="form-control" id="validationCustom02" placeholder="Your firstname" required>
            <div class="valid-feedback">
              Looks good!
            </div>
      </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom03">Surname</label><br>
      <input type="text" name="surname" class="form-control" id="validationCustom03" placeholder="Your surname" required>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom04">Password</label><br>
      <input type="password" name="password" id="validationCustom04" class="form-control" placeholder="password" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom05">E-mail</label><br>
      <input type="email" name="email" id="validationCustom05" class="form-control" placeholder="Your e-mail" required>
      <div class="valid-feedback">
          Looks good!
      </div>
    </div>
  </div>
    <button class="btn btn-primary" type="submit">Create Account</button>
</form>
<form action="/" id="form" method="GET">
  <button class="btn btn-primary" type="submit">Return Home</button>
</form>