<form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Your username">
    <label for="firstName">First Name</label><br>
    <input type="text" name="firstName" placeholder="Your firstname">
    <label for="surname">Surname</label><br>
    <input type="text" name="surname" placeholder="Your surname">
    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="password">
      <div class="error-message">
      </div>
    <label for="email">E-mail</label><br>
    <input type="email" name="email" placeholder="Your e-mail">
    <button type="submit">Create account</button>
  </form>