body {
    .home {
        background-image: url(/img/backg.jpg);
        background-size: cover;
        padding: 15rem 0;
  
        img{
            max-width: 100%;
        }
        .tittle {
            margin: 0 auto;
            width: 100%;
            display: block;
            padding: 0 0 50% 0;
        }
        form {
            display: flex;
            justify-content: center;
        }
        button {
            margin: 1rem;
        }
        .btn-home-one {
            margin: 0 auto;
            padding: 20rem 0 0 0;
        } 
        .btn-home-two {
            margin: 0 auto;
            padding: 1rem 0 10rem 0;
        }
    }
}
