#check {
    padding: 1rem;
}
#text-card {
    margin: 6rem auto;
}
#create {
    margin: 1rem auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
#hours {
    width: 50%;
}
#mins {
    width: 50%;
}