
body {
  margin: 0 auto;
  padding: 5% 0;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10% auto;
  }
  div {
    h2{
        display: flex;
        justify-content: center;
        padding: 5% 0 0 0;
    }
  }
  #footer{
    padding: 5rem 0 0 0;
  }
}
@import'./nav';
@import'./home';
@import'./login';
@import'./user';
@import'./newtrip';
@import'./mytrips';
@import'./trip';
@import'./created';