
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10% auto;
    width: 90%;
  }
  div {
    h2{
        display: flex;
        justify-content: center;
        padding: 5% 0 0 0;
    }
  }
  #footer{
    padding: 5rem 0 0 0;
  }
  .card-img{
    height: 13rem;
  }
  .black{
    display: flex;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 13rem;
    background-color: black;
  }
  .white{
    width: 100%;
    height: 7rem;
    position: relative;
    border-radius: 50%;
    margin: -3.1rem auto;
    background-color: white;
  }
  .btn-success{
    box-shadow: 1px 1px 10px 1px black;
  }
  
}
@import'./nav';
@import'./home';
@import'./login';
@import'./user';
@import'./newtrip';
@import'./mytrips';
@import'./trip';
@import'./created';
@import'./profile';