body {
    width: 90%;
    margin: 0 auto;
        div {
                .avatar {
                    display: flex;
                    margin: 10% auto;
                    width: 10em;
                    height: 10em;
                    border: 2px solid royalblue;
                    border-radius: 50%;
                }
                form {
                    display: flex;
                    justify-content: center;
                }
        }
}