<nav>
    <div>
        <h3><%= currentUser.username %></h3>
    </div>
    <div>
        <form action="/logout" method="get">
            <button type="submit">LogOut</button>
        </form>
    </div>
</nav>