<nav class="navbar navbar-dark">
    <div>
        <a class="navbar-brand" href="/user"><%= currentUser.username %></a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/user">Home <span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
        <form>
            <input type="button" class="nav-link" value="Return" onClick="javascript:history.go(-1)" />
        </form>
    </div>
    <div>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-warning">LogOut</button>
        </form>
    </div>
</nav>
