<div class="home">
  <form action="/signup" class="btn-home-one" method="get">
    <button type="submit" class="btn btn-outline-primary">Sing Up</button>
  </form>
  <form action="/login" class="btn-home-two" method="get">
    <button type="submit" class="btn btn-outline-primary" >Login</button>
  </form>
</div>
