<div class="home">
  <div class="tittle">
    <img src="https://s3.amazonaws.com/iexplore_web/images/assets/000/006/405/original/iceland.jpg?1443530040" alt="IcelandTrip">
  </div>
  <form action="/signup" method="get">
    <button type="submit" class="btn btn-outline-primary">Sing Up</button>
  </form>
  <form action="/login" method="get">
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </form>
</div>