<div class="home">
  
</div>
<form action="/signup" class="btn-home-one" method="get">
  <button type="submit" class="btn btn-dark">Sing Up</button>
</form>
<form action="/login" class="btn-home-two" method="get">
  <button type="submit" class="btn btn-dark" >Login</button>
</form>

