<%- include('../partials/nav') %>
<div class="background">
  <img src="/img/backgroundone.jpg" alt="">
  <div class="white">
  </div>
</div>
  <div class="icons">
    <form action="/user/trips" method="GET" class="form-btn">
      <div class="btn btn-newinfo">
        <img src="/icons/search@2x.png">
        <button type="submit" class="btn-icons" >Search a Trip</button>
      </div>
    </form>
    <form action="/user/joined" method="GET" class="form-btn">
      <div class="btn btn-newinfo">
        <img src="/icons/history@2x.png">
        <button type="submit" class="btn-icons" >Joined Trips</button>
      </div>
    </form>
    <form action="/user/new" method="GET" class="form-btn">
      <div class="btn btn-newinfo">
        <img src="/icons/edit@2x.png">
        <button type="submit" class="btn-icons" >Create a Trip</button>
      </div>
    </form>
    <form action="/user/created" method="GET" class="form-btn">
      <div class="btn btn-newinfo">
        <img src="/icons/list@2x.png">  
        <button type="submit" class="btn-icons" >Trips I created</button>
      </div>
    </form>
    <form action="/user/profile" method="GET" class="form-btn1">
      <div class="btn btn-newinfo">
        <img src="/icons/profile@2x.png">
        <button type="submit" class="btn-icons" >Your Profile</button>
      </div>
    </form>
</div>

