<%- include('../partials/nav') %>

<div>
    Avatar IMG
</div>

<form action="/user/trips" method="GET">
    <button type="submit">Search Trip</button>
  </form>
  <form action="/user" method="get">
    <button type="submit">Join Trip</button>
  </form>
  <form action="/user/trips/new" method="GET">
    <button type="submit">Create Trip</button>
  </form>
  <form action="/login" method="get">
    <button type="submit">My trips</button>
  </form>