<%- include('../partials/nav') %>
    
<h2>ALL TRIPS</h2>
<div>
    <ul>
        <% trips.forEach((trip) => { %>
            <li>
                <a href="/user/trips/<%= trip._id %>">                   
                    <%=trip.tripName%>
                </a>
            </li><% }) %>
    </ul>
</div>