
<%- include('../partials/nav') %>
<div id="footer">
  <h2>Create your own Trip</h2>
</div>
<form class="needs-validation" novalidate action="/user/new" method="post">
  <div class="form-group">
  <label for="validationCustom01">Set trip category</label>
  <select name="tripCategory" class="form-control" id="validationCustom01" required>
    <% tripCategory.forEach((category, i) => { %>
      <option><%= category %></option>
    <% }) %>
  </select>
  </div>
  <div class="form-group">
    <label for="validationCustom02">Trip Name</label>
    <input type="text" class="form-control" name="tripName" id="validationCustom02" required>
    <div class="valid-feedback">
        Looks good!
    </div>
  </div>
  <div class="form-group">
    <label for="validationCustom07">Date</label>
    <input type="date" class="form-control" name="date" id="validationCustom07" required>
    <div class="valid-feedback">
        Looks good!
    </div>
  </div>
  <div class="form-group">
    <label for="validationCustom03">Description</label>
    <textarea class="form-control" name="description" rows="3" id="validationCustom03" required></textarea>
    <div class="valid-feedback">
        Looks good!
    </div>
  </div>  
  <div class="form-group">
    <label for="duration.hours">Duration</label>
    <div style="display:flex">
    <input type="number" class="form-control" name="hours" id="hours" id="validationCustum06" required placeholder="hours">
    <input type="number" class="form-control" name="mins" id="mins" id="validationCustum06" required placeholder="min">
      <div class="valid-feedback">
        Looks good!
    </div>
    </div>
  </div>  
  <div class="form-group">
    <label for="validationCustom04">Necessary equipment</label>
    <input type="text" class="form-control" name="necessaryEquipment" id="validationCustom04" required>
    <div class="valid-feedback">
        Looks good!
    </div>
  </div> 
  <div class="form-check" id="check">
    <input class="form-check-input" type="checkbox" value="true" name="petfriendly" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Pet friendly
    </label>
  </div>
  <div class="form-group"> 
    <label for="validationCustom05">Difficulty</label>
    <select name="difficulty" class="form-control" id="validationCustom05" required>
    <% difficulty.forEach((difficult, i) => { %>
      <option><%= difficult %></option>
    <% }) %>
    </select>
  </div>
  <input type="submit" class="btn btn-success" id="create" value="create" >
</form>