<%- include('../partials/nav') %>

<h2>Update trip</h2>
<form action="/user/created/<%= trip._id %>/update" method="post">
  <label for="description">description</label>
  <input type="text" name="description" id="description" value="<%= trip.description %>">
  <input type="submit" value="update">
</form>

